<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mauri Seri</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="header">
                <div class="logo">
            <img src="images/new-logo.png" alt="">
            <div class="logo-text">
                <p>موري سيري</p>
            <p>Mauri Series</p>
            </div>
            
            <ul>
                <li>
                    <a href="#">
                    <img src="images/mathematics.png" alt="">
                    <p>Mathematics</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <img src="images/sciense.png" alt="">
                    <p>Sciense</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <img src="images/physics.png" alt="">
                    <p>Physics</p>
                    </a>
                </li>
                <li>
                    <a href="/login">
                    <p>Login</p>
                    </a>
                </li>
                <li>
                    <a href="/signup">
                    <p>signup</p>
                    </a>
                </li>
               
            </ul>
        
        </div>
         <div class="burger-menu">

         </div>
       
         
        </div>
    <div class="phone-size">
        <div class="home phone-view">
            <i class="fa-solid fa-house home-icon"></i>
            <p>home</p>
        </div>
        <div class="math-phone phone-view">
            <img src="images/mathematics.png" alt="">
            <p>mathematiques</p>
        </div>

        <div class="physics-phone phone-view">
            <img src="images/physics.png" alt="">
            <p>Physique</p>
        </div>
        <div class="science-phone phone-view">
            <img src="images/sciense.png" alt="">
            <p>sciences</p>
        </div>
    </div>
    </header>
   
    <main>
      <div class="phone">
        <img src="images/phone-1.png" alt="">
      </div>

        <div class="series">
            <div class="text">
                <div class="arabic-title">
                    <p>البــــــــوابة نحو التــــــفوق والنجــــــــاح</p>
                </div>
                <p class="def arabic-def">مــوري سيري خيــارك الافــضل لمستقبل مــشرق وحيــــــاه ابــداعيه</p>
                <p class="def english-def">
                   Mauri Series Your best choice for a bright future and creative life</p>
            </div>
            <div class="container">
                <div class="check-list">
                    <i class="fa-solid fa-circle-check"></i> <span>تفـــــاعل </span>  <br>
                    <i class="fa-solid fa-circle-check"></i> <span>التـــــزام</span> <br>
                    <i class="fa-solid fa-circle-check"></i> <span>اتقـــــان</span> <br>
                    <i class="fa-solid fa-circle-check"></i> <span>تطـــــوير</span> <br>
                    <i class="fa-solid fa-circle-check"></i> <span>نجـــــاح</span> <br>
                </div>
                <img src="images/series.png" alt="">
            </div>
        </div>
    </main>

    <section>
        </div>
        <div class="card">
            <img src="images/multimedia.png" alt="">
            <div class="border">
                <p>video cours</p>
            </div>
        </div>
        <div class="card">
            <img src="images/team.png" alt="">
            <div class="border">
                <p>devs</p>
            </div>
        </div>
        <div class="card">
            <img src="images/good-feedback.png" alt="">
            <div class="border">
                <p>your rating</p>
            </div>
        </div>
    </section>
    <div class="dashed-text">
        <span>نبذة عن الموقع</span>
    </div>

    <div class="about-us">
        <div class="about">
            <div class="about-top">
                <div class="text">
                    <p>ما نقدمه</p>
                <p>what we offer</p> 
                 </div>
                
                <video src="videos/blog.mp4" id="video1"></video>
            </div>
            <ul dir="rtl">
                <li> تمارين متنوعة: مجموعة شاملة من التمارين تغطي جميع المستويات التعليمية، بدءا من الأساسيات وصولا إلى المستويات المتقدمة
                </li>
                <li>
                    تفسير الحلول: حلول مفصلة خطوة بخطوة تساعدك على فهم العملية الرياضية بشكل أعمق.

                </li>
                <li>
                    دعم المجتمع: منتديات للنقاش وتبادل الأفكار مع طلاب ومعلمين من مختلف أنحاء موريتانيا.
                </li>
            </ul>
        </div>
        <div class="about">
            <div class="about-top">
                <div class="text">
                    <p>رؤيتنا</p>
                <p>our vision</p> 
                 </div>
                
                <video src="videos/presentation.mp4" id="video2"></video>
            </div>
            <ul dir="rtl">
              <p>نطمح إلى أن نكون المنصة التعليمية الأولى في موريتانيا لتعزيز مهارات الرياضيات لدى الطلاب والمجتمع بأسره، وذلك من خلال توفير موارد تعليمية مبتكرة وفعالة.</p>
        </div>
          <div class="about">
            <div class="about-top">
                <div class="text">
                    <p>لماذا نحن</p>
                <p>why us</p> 
                 </div>
                
                <video src="videos/domain.mp4" id="video3"></video>
            </div>
            <ul dir="rtl">
               <li>محتوى محلي: محتوى متماشي مع المناهج الدراسية الموريتاني </li>
            <li>سهولة الاستخدام: تصميم سهل الاستخدام يساعدك على التركيز على التعلم</li>
            <li> دعم مستمر: فريق دعم متاح للإجابة على أسئلتك وتقديم المساعدة اللازمة</li>
            </ul>
        </div>
    </div>

    <footer>
        <form class="input" dir="ltr" method="post"  action="/message">
            <input type="text" dir="rtl" name="messageinf"  placeholder="اكتب رساله للموقع او ابلغ عن خطا....." id="textInput">
            
            <input type="submit" value="إرسال" id="button" >
        </form>
    </footer>
    <script src="script.js" defer></script>
</body>
</html>

