<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<style>


div{
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    top:30px;
    left:40%;
    background-color: antiquewhite;
    padding:20px;
    border-radius: 10px;

}
div form{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px;
}
div form input{
    padding:10px;
    border-radius: 10px;
    border:none;
    margin:10px;
}
h2{
    text-align: center;
}
button{
    background-color: blue;
    padding: 10px;
    margin: 10px;  
    border-radius: 10px;
    color: aliceblue;
    border:none;

}
</style>
<body>
    

    <div class="container">
        <h2>
            login
        </h2>
        <form action="/dashboard" method="post">
           <label for="name">Name</label>
           <input type="text" id="name" placeholder="enter username"  name="username" required>
           <label for="password">password</label>
           <input type="password" id="password" placeholder="enter password"  name="password" required>
       <button type="submit">Login</button>
        </form>
        <p>dont have accountt <a href="/signup">signup</a> </p>
    </div>
</body>
</html>